<!DOCTYPE HTML>

<html>

<head>
	<title>Github App</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/public/css/index.css" />
</head>

<body>

	<header id="header">
		<div class="logo"><a href="#">Github App <span>by Mateusz Trojanowski</span></a></div>
	</header>

	<section id="main">
		<div class="inner">

			<section id="one" class="wrapper style1">

				<header class="special">
					<h2>Repozytoria</h2>
					<repos-table data-user="bnoordhuis" data-update="2020-02-05"></repos-table>
					<repos-table data-user="Trott" data-update="2020-01-05"></repos-table>
					<repos-table data-user="cjihrig" data-update="2020-01-05"></repos-table>
					
				</header>
			</section>

			<footer id="footer">
				<div class="copyright">
					 GitApp 2020 </a>
				</div>
			</footer>

			<script type="module" src="/public/js/repos.mjs"></script>

</body>

</html>